Tag: init.d-script-not-included-in-package
Severity: error
Check: init.d
Explanation: The <code>/etc/init.d</code> script is registered in the
 <code>postinst</code> script, but is not included in the package.
